* {
  box-sizing: border-box;
}
body {
  background-color: #000;
  font-family: "Anton", sans-serif;
}
.header-div {
  position: relative;
  height: 100px;
  margin: 50px;
}
.header-div h1 {
  color: #eee;
  font-size: 84px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 50px;
}
.gameCard {
  display: block;
  height: 200px;
  width: 800px;
  background-color: #eee;
  border: 1px solid #777;
  margin: 10px;
  position: relative;
  color: inherit;
}
.gameCard .game-title {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 75%;
}
.gameCard .game-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
.gameCard img {
  display: inline-block;
  width: 25%;
  /* height: 200px; */
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 960px) {
  .gameCard {
    height: 200px;
    width: 600px;
  }
}
@media (max-width: 680px) {
  .gameCard {
    height: 200px;
    width: 350px;
  }
  .header-div h1 {
    font-size: 40px;
  }
}
